Wise.Framework/build/
obj/
Wise.Framework/packages/
*.user
*.Cache
*.suo
Wise.Framework/Wise.Framework.Environment/bin/
Wise.Framework/Wise.Framework.HostShell/bin/
Wise.Framework/Wise.Framework.InternalMessagning/bin/
Wise.Framework/Wise.Framework.Logging/bin/
Wise.Framework/Wise.Framework.Presentation.Resources/bin/
Wise.Framework/Wise.Framework.Security/bin/
Wise.Framework/Testing/TestModules/Wise.DummyModule/bin/
Wise.Framework/Testing/TestModules/Wise.DummyModuleTwo/bin/
/Wise.Framework/Testing/WindowsService/Wise.WindowsService.Test/bin
/Wise.Framework/Wise.Framework.Presentation.Tests/bin/Release
/Wise.Framework/Wise.Framework.WindowsServiceController/bin/Release
/Wise.Framework/Wise.Framework.Presentation.Tests/bin/Debug
/Wise.Framework/Wise.Framework.WindowsServiceController/bin/Debug
