Wise.Framework/build/
obj/
Wise.Framework/packages/
*.user
*.Cache
*.suo
Wise.Framework/Wise.Framework.Environment/bin/
Wise.Framework/Wise.Framework.HostShell/bin/
Wise.Framework/Wise.Framework.InternalMessagning/bin/
Wise.Framework/Wise.Framework.Logging/bin/
Wise.Framework/Wise.Framework.Presentation.Resources/bin/
Wise.Framework/Wise.Framework.Security/bin/
Wise.Framework/Testing/TestModules/Wise.DummyModule/bin/
Wise.Framework/Testing/TestModules/Wise.DummyModuleTwo/bin/
/Wise.Framework/Testing/WindowsService/Wise.WindowsService.Test/bin
/Wise.Framework/Wise.Framework.Presentation.Tests/bin/Release
/Wise.Framework/Wise.Framework.WindowsServiceController/bin/Release
/Wise.Framework/Wise.Framework.Presentation.Tests/bin/Debug
/Wise.Framework/Wise.Framework.WindowsServiceController/bin/Debug
/Wise.WPF/Wise.HostShell/bin
/Wise.WPF/Wise.Module/bin/Debug
/Wise.WPF/bin
/Wise.Framework/Testing/build/bin
/Wise.Framework/Wise.Framework.Web/bin/Debug
/Wise.Framework/Wise.MVC.TestApplication/bin
/Wise.Framework/Modules/Wise.Framework.SecurityModule/bin/Debug
/Wise.Framework/Wise.Framework.Presentation.UserControl/bin/Debug
/Wise.Framework/Testing/MVC/Wise.MVC.TestApplication/bin
/Wise.Framework/Testing/Presentation/Wise.Framework.Presentation.Tests/bin
/Wise.Framework/Testing/Data/build/bin/Debug/Tests
/Wise.Framework/Testing/Data/build/bin/Debug
/Wise.Framework/Modules/Wise.Framework.SecurityModule/bin/Release
/Wise.Framework/Testing/Data/build/bin/Release/Tests
/Wise.Framework/Wise.Framework.Web/bin/Release
/Wise.Framework/Wise.Framework.Commons/bin/Debug
/Wise.Framework/TestResults
/Wise.Framework/Modules/Wise.Framework.SecurityModule/bin
/Wise.Framework/.vs/config
/Wise.Framework/Testing/REST/Wise.Framework.Rest.Testing.Model/bin/Debug
/Wise.Framework/Wise.Framework.Rest/bin/Debug
/Wise.Framework/Wise.Framework.Security.Tests/bin/Debug
/Wise.Framework/.vs/Wise.Framework/v15/Server/sqlite3
/.vs
